body{
    height:100vh;
    width:100vw;
}
header {
    background-color: #fffabe;
    width: 80%;
    height: 5.7vw;
    position: relative;
}
header a {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 1em;
    color: #515151;
    position: relative;
    left:30vw;
}

a:hover{
    color:#d42551;
}


}

.logo{
    width:15vw;
    height:3.3vh;
    position:relative;
    left:1vw;
}


#nav{
    display:inline-block;
    position:absolute;

}

header #nav li{
    display:inline;

}

#nav li:nth-child(1){
    position: relative;
    right:12%;
}
#nav li:nth-child(2){
    position: relative;
    right:8%;
}
#nav li:nth-child(3){
    position: relative;
    right:4%;
}
.macarons{
    float:left;
    box-sizing: border-box;
    position: relative;
    max-height: 9.8em;
    max-width: 12.5em;
    margin: 3.125em  2.5em 3.125em;
    padding-bottom: 0.625em;
}
.welcome{
    display:inline-block;
    width:78.5vw;
    height:31vw;


}
.bodypp{
    width:40%;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size:.875em;
    color:#6a6969;
    position:relative;
    right:10%;
    margin-left: auto;
	margin-right: auto;

}
.bodypp h3 {
    font-size: 1.25em;
}

/*MBoutique: Styling the Cookies */
#coco{
    width:7.87em;
    height:2.06em;
    background-color: #824603;
}
#vanilla{
    background-color:#df5277;
}

#lemon{
    background-color:#a2304e;
}
.times{
    width:62.5em;
    color:#fffabe;
    margin-bottom: 1.87em;
    position:relative;
    right:7%;
}

.day{
    font-family:arial, helvetica, sans-serif;
    font-size:.875em;
    color:#6a6969;
    list-style-type:none;
    display:inline-block;
    background-color:#fffabe;
    position:relative;
    left:6.25em;
}
.minimac{
    display:inline-block;
}

#almond {
    background-color:#c39005;
    color:white;
}

.sched{
    font-family:arial, helvetica, sans-serif;
    font-size:.75em;
    color: #6a6969;
}


.footer li{
    display: inline;
    text-align:center;
    box-sizing: border-box;
    list-style-type:none;
    text-decoration:none;
}
.footer{
    background-color:#df5277;
    width:62.5em;
    height:5em;
}

.footer li:first-child{
    position: relative;
    left: 1.25em;
}
.footer li:nth-child(2){
   position:relative;
   left: 30%;
}

.footer li:nth-child(3){
    float:right;
    position:relative;
    right:25%;
    bottom:40%;

}

.footer li:nth-child(6){
    display:block;
    text-align:center;
    position:relative;
    left: 3%;
}

.footer li:nth-child(5) {
    float:right;
    position: relative;
    bottom:40%;
    right:10%;

}
.footer li:nth-child(4) {
    float:right;
    position: relative;
    bottom:40%;
    right: 15%;
}

/* MBOUTIQUE OUR MACARONS STYLING PAGE 2 */
#pp1{
    font-family: "arial", helvetica, sans-serif;
    font-size: 1.25em;
    color: #6a6969;
}
#vividhues{
    font-family: "arial", helvetica, sans-serif;
    font-size: .875em;
    color: #6a6969;
}

h2{
    font-family: "arial", helvetica, sans-serif;
    font-size: 1.25em;
    color: #6a6969;
    position: relative;
    bottom:31.25em;
}

#float{
    display:inline-block;
    font-family: "arial", helvetica, sans-serif;
    font-size: .75em;
    color: #6a6969;
}
#float ul{
    float:left;
    position:relative;
}
.backgroundmac{
    clear:right;
    position:relative;
    bottom:7.5em;
}

#end{
    font-family: "arial", helvetica, sans-serif;
    font-size: .875em;
    color: #6a6969;
}

/* CSS STYLING MBOUTIQUE ASSIGNMENT_4*/
#visitus {
    display:block;
    float:left;
    font-family: "Arial", Helvetica, Sans-Serif;
    font-size: .875em;
    color: #6a6969;
    padding:0 3.125em 0 0;
}

#styled{
    float:right;
    position:relative;
    right:40%;
}

#styled input[type="text"]{
    width:19.37em;
    height:2.18em;
    background-color:#f5f5f5;
}

#styled input[type="email"]{
    width:19.37em;
    height:2.18em;
    background-color:#f5f5f5;
}


#styled button [type="submit"]{
    width:9.68em;
    height:2.18em;
    background-color:#f5f5f5;
}




.macimaging{
    float:right;
    position: relative;
    bottom:3.75em;
}

#movetable{
    display:block;
    position:relative;
    left:0;
    top:0;
    font-family:arial, helvetica, sans-serif;
    font-size:.875em;
    color:#6a6969;
}

#spacing{
    line-height:150%;
}

.headerNew{
    border:2px solid blueviolet;
}
.tableContainer{
    border:2px solid darkolivegreen;
}

.footerNew{
    border:2px dotted brown;
}